
div{
    background-color: aliceblue;
    /* margin-bottom: 10px; */
}
label{
    display: block;
    width:150px;
    text-align: left;
    /* padding: 50px; */
}
form{
    position: relative;
    top: 50px;
    left: 50px;
    right: 50px;
}
